<h1>Resort List</h1>
<hr>

<div class="col-lg-18">
  <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
              <li class="active"><a href="#sierras" data-toggle="tab">Sierras</a>
              </li>
              <li><a href="#cascades" data-toggle="tab">Cascades</a>
              </li>
              <li><a href="#rockies" data-toggle="tab">Rockies</a>
              </li>
              <li><a href="#icecoast" data-toggle="tab">Ice Coast</a>
              </li>
              <li><a href="#other" data-toggle="tab">Midwest</a>
              </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane fade in active" id="sierras">
                  <% @sierras.each do |resort| %>
                    <h3><a href="resorts/<%= resort.id %>"><%= resort.name %></a></h3>
                    <p><%= resort.city %>, <%= resort.state %></p>
                  <% end %>
              </div>
              <div class="tab-pane fade" id="cascades">
                  <% @cascades.each do |resort| %>
                    <h3><a href="resorts/<%= resort.id %>"><%= resort.name %></a></h3>
                    <p><%= resort.city %>, <%= resort.state %></p>
                  <% end %>
              </div>
              <div class="tab-pane fade" id="rockies">
                  <% @rockies.each do |resort| %>
                    <h3><a href="resorts/<%= resort.id %>"><%= resort.name %></a></h3>
                    <p><%= resort.city %>, <%= resort.state %></p>
                  <% end %>
              </div>
              <div class="tab-pane fade" id="icecoast">
                  <% @ice_coast.each do |resort| %>
                    <h3><a href="resorts/<%= resort.id %>"><%= resort.name %></a></h3>
                    <p><%= resort.city %>, <%= resort.state %></p>
                  <% end %>
              </div>
              <div class="tab-pane fade" id="other">
                  <% @other.each do |resort| %>
                    <h3><a href="resorts/<%= resort.id %>"><%= resort.name %></a></h3>
                    <p><%= resort.city %>, <%= resort.state %></p>
                  <% end %>
              </div>
          </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
